@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  scroll-behavior: smooth;
}

body {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  background: #161218;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navBar {
  display: grid;
  margin: 0 0 0 13vw;
  grid-template-columns: 1fr 5fr;
}

.logo {
  float: left;
  margin: 2.3vh 0 1.8vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 49px;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}

.logo > span {
  position: relative;
  z-index: 100;

  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: moveDown;
  animation-duration: 2s;
}

.nav_links {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.nav_links > ul {
  position: relative;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-end;
  margin: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}

.nav_links > ul > li {
  list-style-type: none;
  display: inline;
  margin: 0 0 0 2vw;

  opacity: 0;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-name: moveDown;
  animation-duration: 0.3s;
}

.nav_links > ul > li > a {
  text-decoration: none;
  color: inherit;
}

.resume_wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  left: -10px;
}

.resume_button {
  position: relative;
  z-index: 100;
  display: flex;
  margin: 2.5vh 0 1.8vh;
  width: 110px;
  height: 40px;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  background: #6A00FC;

  opacity: 0;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-name: moveDown;
  animation-duration: 0.3s;
}

.resume_button > a {
  position: relative;
  left: 2px;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  width: 96px;
  height: 33px;

  color: #FFFFFF;
}

.cubeIn {
  animation-fill-mode: forwards;
  animation-name: scaleUp;
  animation-duration: 0.7s;
}

.cubeOut{
  animation-fill-mode: forwards;
  animation-name: scaleUp;
  animation-duration: 0.7s;
  animation-direction: reverse;
}

.cube1 {
  z-index: 2;
  position: absolute;
  top: -65px;
  left: -6vw;
  width: 40.3vw;
}

.cube2 {
  position: absolute;
  width: 8.7vw;
  left: 45.5vw;
  top: 50px;
}

.cube3 {
  position: absolute;
  width: 91px;
  left: 58vw;
  top: 526px;
}

.cube4 {
  position: absolute;
  width: 82px;
  left: 32.3vw;
  top: 864px;
}

.cube5 {
  position: absolute;
  width: 16.8vw;
  left: 78.43vw;
  top: 324px;
}

.main_line {
  z-index: 100;

  position: relative;
  width: 43.54vw;
  max-width: 600px;
  height: 255px;
  left: 12vw;
  top: 162px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 114px;

  color: #FFFFFF;

  opacity: 0;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-name: moveUP;
  animation-duration: 0.5s;
}

.subtitle {
  z-index: 100;
  position: relative;
  width: 35vw;
  height: 139px;
  left: 12vw;
  top: 162px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;

  color: rgba(255, 255, 255, 0.5);

  opacity: 0;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-name: moveUP;
  animation-duration: 0.5s;
  
}

.header_link {
  z-index: 100;
  text-decoration: none;
  position: absolute;
  width: 306px;
  height: 67px;
  left: 12vw;
  top: 723px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;

  color: #FF0030;

  opacity: 0;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  animation-name: moveUP;
  animation-duration: 0.4s;
}

.header_image {
  position: absolute;
  min-width: 350px;
  width: 20vw;
  max-width: 400px;
  /* height: 623px; */
  left: 64.6vw;
  top: 216px;

  opacity: 0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.about {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  min-height: 1000px;
  height: 100vh;
  top: 1000px;
  z-index: -3;

  background: #252229;
}

.about-animation {
  animation-fill-mode: forwards;
  animation-name: moveUP;
  animation-duration: 0.5s;
}

.about_heading {
  opacity: 0;
  position: absolute;
  width: 242px;
  height: 63px;
  left: 12vw;
  top: 104px;

  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 43px;
  line-height: 58px;

  color: #01DC99;
}

.about_content {
  opacity: 0;
  position: absolute;
  width: 36.35vw;
  height: 385px;
  left: 12vw;
  top: 234px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;

  color: #FFFFFF;

}

.about_img {
  width: auto;
  height: 25vh;
  transition: all 0.1s;
}

.about_img_1 {
  opacity: 0;
  position: absolute;
  left: 55.1vw;
  top: 278px;  
}

.about_img_2 {
  opacity: 0;
  position: absolute;
  left: 70.1vw;
  top: 375px;  
}

.about_img_3 {
  opacity: 0;
  position: absolute;
  left: 60.1vw;
  top: 475px;  
}

.about_img:hover {
  z-index: 100;
  transform: scale(1.05);
}

.about-cube1{
  position: absolute;
  top: 43px;
  left: 67vw;
  width: 35.41vw;
  z-index: -1;
}

.about-cube2 {
  position: absolute;
  left: 43.25vw;
  top: 162px;

  width: 4.68vw;

  z-index: -1;
}

.about-cube3 {
  position: absolute;
  top: 670px;
  left: 7.81vw;

  width: 8.85vw;

  z-index: -1;

}

.about-cube4 {
  position: absolute;
  left: 50.25vw;
  top: 810px;

  width: 4.68vw;

  z-index: -1;
}

.bullet_icon {
  height: 18px;
  width: 18px;
  position: relative;
  top: 2px;
}

.about_bullet {
  position: static;
  width: 216px;
  height: 82px;
  left: 32px;
  top: 0px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;

  color: #01DC99;
}

.bullet_1 {
  opacity: 0;
  position: absolute;
  width: 248px;
  height: 30px;
  left: 12vw;
  top: 685px;
}

.bullet_2 {
  opacity: 0;
  position: absolute;
  width: 248px;
  height: 30px;
  left: 30vw;
  top: 685px;
}

.bullet_3 {
  opacity: 0;
  position: absolute;
  width: 248px;
  height: 30px;
  left: 12vw;
  top: 740px;
}

.bullet_4 {
  opacity: 0;
  position: absolute;
  width: 248px;
  height: 30px;
  left: 30vw;
  top: 740px;
}

.bullet_5 {
  opacity: 0;
  position: absolute;
  width: 248px;
  height: 30px;
  left: 12vw;
  top: 793px;
}

.bullet_6 {
  opacity: 0;
  position: absolute;
  width: 248px;
  height: 30px;
  left: 30vw;
  top: 793px;
}

.exp-block {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  min-height: 1000px;
  height: 100vh;
  max-width: 100%;
  top: 1980px;
}

.exp-cube1{
  position: absolute;
  top: 43px;
  left: -5vw;
  width: 35.41vw;
  z-index: -1;
}

.exp-cube2 {
  position: absolute;
  left: 63.25vw;
  top: 140px;
  width: 4.68vw;

  z-index: -1;
}

.exp-cube3 {
  position: absolute;
  top: 507px;
  left: 70vw;

  width: 15.62vw;

  z-index: -1;

}

.exp-cube4 {
  position: absolute;
  left: 25vw;
  top: 810px;

  width: 4.68vw;

  z-index: -1;
}

.exp-heading {
  position: absolute;
  width: 454px;
  height: 117px;
  left: 20vw;
  top: 180px;

  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  color: #01DC99;
}

.exp-line-1 {
  position: absolute;
  width: 530px;
  height: 0px;
  left: 45.22vw;
  top: 220px;

  border: 1px solid #3B3742;
}

.exp-line-2 {
  position: absolute;
  width: 470px;
  height: 0px;
  left: 5vw;
  top: 580px;

  border: 1px solid #3B3742;
  transform: rotate(90deg);
}

.exp-nav {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  cursor: pointer;
}

.exp-nav-1 {
  position: absolute;
  left: 19.5vw;
  top: 367px;
}

.exp-nav-2 {
  position: absolute;
  left: 19.5vw;
  top: 475px;
}

.exp-nav-3 {
  position: absolute;
  left: 19.5vw;
  top: 583px;
}

.exp-nav-4 {
  position: absolute;
  left: 19.5vw;
  top: 691px;
}

.exp-content {
  position: absolute;
  width: 600px;
  height: 450px;
  left: 43.22vw;
  top: 367px;

  border: 1px solid #3B3742;
  box-sizing: border-box;
  border-radius: 25px;
}

.exp-content-heading {
  position: absolute;
  left: 15px;
  top: 10px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 48px;

  color: #FFFFFF;
}

.exp-content-date {
  position: absolute;
  width: 225px;
  height: 35px;
  left: 15px;
  top: 60px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;

  color: rgba(255, 255, 255, 0.5);

}

.exp-content-inner {
  position: absolute;
  width: 550px;
  left: 30px;
  top: 120px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;

  color: #FFFFFF;

}

.exp-content-inner  ul {
  list-style: none;
  margin-left: -10px;
}

.exp-content-inner li:before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url("./static/bullet.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.project-box {
  position: absolute;
  top: 300vh;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  z-index: -3;

  background-color:  #252229;
}

.project-heading {
  position: absolute;
  left: 12vw;
  top: 9.7vh;
  width: 20vw;

  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  color: #01DC99;

}

.project-cube1 {
  position: absolute;
  top: 5vh;
  left: 5vw;
  height: 300px;
  width: 300px;
  z-index: -1;
}

.project-cube2 {
  position: absolute;
  top: 78vh;
  left: 18vw;
  height: 100px;
  width: 100px;
  z-index: -1;
}

.project-cube3 {
  position: absolute;
  top: 80vh;
  left: 80vw;
  height: 150px;
  width: 150px;
  z-index: -1;
}

.project-cards {
  position: absolute;
  top: 35vh;
  left: 18vw;

  display: grid;
  grid-template-columns: 325px 325px 325px;
  grid-gap: 100px;
}

.project-card {
  width: 325px;
  height: 400px;

  background: #161218;
}

.card-heading {
  position: relative;
  top: 10px;
  left: 20px;
  width: 246px;
  height: 55px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;

  color: #FFFFFF;

}

.card-github-icon {
  position: relative;
  top: -37px;
  left: 270px;
  height: 30px;
  width: 30px;
}

.card-description {
  position: relative;
  top: 10px;
  left: 20px;
  height: 200px;
  width: 200px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;

  color: #FFFFFF;
}

.card-tag-list {
  position: relative;
  left: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;

  color: rgba(255, 255, 255, 0.5);

  list-style: none;
}

.card-tag-list li {
  padding: 0 10px;
  display: inline-block;
}

@media screen and (max-width: 1800px) {
  .exp-line-2 {
    left: 2vw;
  }
}

@media screen and (max-width: 1700px) {
  .exp-line-1 {
    left: 49vw;
  }

  .exp-content {
    left: 49vw;
  }

  .cube5 {
    left: 82vw;
  }
}

@media screen and (max-width: 1600px) {
  .about_img {
    height: 22vh;
  }

  .about_img_1 {
    top: 302px;
  }

  .about_img_2 {
    top: 378px;
  }

  .about_img_3 {
    top: 453px
  }

  .bullet_1, .bullet_2 {
    top: 734px;
  }

  .bullet_3, .bullet_4 {
    top: 788px;
  }

  .bullet_5, .bullet_6 {
    top: 842px;
  }
}

@media screen and (max-width: 1500px) {
  .cube5 {
    left: 84vw;
  }
  .exp-line-2 { 
    left: 3vw;
  }
}

@media screen and (max-width: 1440px) {
  .bullet_1, .bullet_2 {
    top: 747px;
  }

  .bullet_3, .bullet_4 {
    top: 792px;
  }

  .bullet_5, .bullet_6 {
    top: 837px;
  }
  
  .exp-line-1 {
    left: 55vw;
  }

  .exp-line-2 { 
    left: -1.5vw;
  }

  .exp-content {
    left: 50vw;
  }
}

@media screen and (max-width: 1360px) {
  .main_line {
    font-size: 70px;
  }
  .about_img_2 {
    left: 65vw;
  }
  .about_img {
    height: 20vh;
  }
  .exp-line-2 { 
    left: -2.5vw;
  }

}

@keyframes moveUP {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }

  100%{
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes scaleUp{
  0%{
    /* transform: scale(0.1); */
    transform: translateY(-40px);
  }

  60%{
    transform: translate(0);
  }
  61%{
    transform: scale(1);
  }

  100%{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);  
    /* transform: translateY(0); */
  }
}

@keyframes moveDown {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.purple {
  color: #6A00FC;
}

.green {
  color: #01DC99;
}

.green-dull {
  color: rgba(1, 220, 153, 0.75);
}

.red {
  color: #FF0030;
}
